/*Vets4Warriors main CSS stylesheet*/
/*Author: jmcgirr*/

html {
    background-image: url("../gfx/odBack.jpg");
}

header {
    background-color: #B7A287;
    margin-top: 50px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.5);
    height: 100px;
}

header img {
    padding: 20px;
    margin-left: 20px;
    display: inline;
    float: left;
}

header h1 {
    display: inline;
    float: left;
    padding: 15px;
}

/*Classes*/

.clearBoth {
    clear: both;
}

.smallCircle {

}

.smallCircWrap {

}

.largeCircle {

}

.largeCircWrap {

}