.locationSearchBox {
    background: white;
    margin-bottom: 16px;
    padding: 4px 4px 4px 4px;
}

.locationSearchBox md-input-container .md-errors-spacer {
    min-height: 0;
}

.locationSearchBox md-input-container {
    padding-left: 4px !important;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
}
