<!-- The add form template for locations -->
<link rel="import" href="/bower_components/iron-form/iron-form.html"/>
<link rel="import" href="/bower_components/paper-input/paper-input.html"/>
<link rel="import" href="/bower_components/paper-input/paper-textarea.html"/>
<link rel="import" href="/bower_components/paper-button/paper-button.html"/>
<link rel="import" href="/bower_components/paper-material/paper-material.html"/>
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html"/>
<link rel="import" href="/bower_components/paper-item/paper-item.html"/>
<link rel="import" href="/bower_components/paper-toast/paper-toast.html"/>
<link rel="import" href="/bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="/bower_components/gold-phone-input/gold-phone-input.html"/>

<style is="custom-style">
    .locationEdit {
        background: white;
        width: 100%;
        height: 100%;
    }
    .locationEdit form {
        padding: 8px;
    }
    .locationEdit .checkboxes {
        margin-left: 8px;
        margin-top: 8px;
    }
    .locationEdit paper-button {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    /* Scrollbar */
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(96, 125, 139,0.7);
        border-radius: 25px;
        box-shadow: inset 0 1px 1px 1px rgba(38, 50, 56, 0.1);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(96, 125, 139,0.9);
    }
    ::-webkit-scrollbar-thumb:active {
        background: rgba(38, 50, 56,0.9);
    }
    ::-webkit-scrollbar-track {
        background: rgba(176, 190, 197,0.5);
        border-radius: 25px;
    }
    ::-webkit-scrollbar-track:hover {
        background: rgba(176, 190, 197,0.9);
    }

    #formCont {
        height: 802px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #failureToast {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
    }
</style>

<paper-material class="locationEdit">
    <paper-toolbar class="small">
        <h1 class="title">Add a location</h1>
        <paper-icon-button icon="close" title="Close" ng-click="listPageCtrl.setIsAdding(false);"></paper-icon-button>
    </paper-toolbar>

    <section id="formCont">
        <form id="addForm" is="iron-form" ng-keypress="keyPressed($event)">
            <!-- Basics -->
            <paper-input name="name" label="Resource name" value="{{location.name}}"
                         error-message="Need a name!"
                         required auto-validate autocapitalize></paper-input>
            <paper-input name="email" label="Email" type="email"
                         value="{{location.email}}"
                         error-message="Please enter a valid email."
                         auto-validate></paper-input>
            <gold-phone-input name="phone" label="Phone Number (XXX-XXX-XXXX)"
                              value="{{location.getPhone()}}"
                              phone-number-pattern="XXX-XXX-XXXX" auto-validate></gold-phone-input>
            <paper-input name="website" label="Website"
                         value="{{location.website}}"
                         required="">
                <div prefix>http://</div>
            </paper-input>

            <!--<paper-input name="address" label="Address" required></paper-input>
            <paper-input name="hqAddress" label="HQ Address"></paper-input>-->

            <!-- Deeper info -->
            <paper-input name="locationType" label="Resource Type"
                         value="{{location.locationType}}"
                         required></paper-input>
            <paper-input name="services" label="Services (separated by commas)"
                         value="{{location.getFormattedServices()}}"
                         required></paper-input>
            <paper-input name="tags"
                         value="{{location.getFormattedTags()}}"
                         label="#tags (separated by commas)"></paper-input>

            <p class="checkboxes">Coverage</p>
            <section class="checkboxes">
                <paper-checkbox name="coverages" value="Local" noink>Local</paper-checkbox>
                <paper-checkbox name="coverages" value="State" noink>State</paper-checkbox>
                <paper-checkbox name="coverages" value="Regional" noink>Regional</paper-checkbox>
                <paper-checkbox name="coverages" value="National" noink>National</paper-checkbox>
                <paper-checkbox name="coverages" value="International" noink>International</paper-checkbox>
            </section>

            <!-- Extras -->
            <paper-textarea name="comments" label="Comments" maxlength="500"
                            value="{{location.comments}}"
                            auto-validate char-counter prevent-invalid-input></paper-textarea>
            <paper-input name="editBy" label="Your name" error-message="Need to provide your name!"
                         required auto-validate></paper-input>
        </form>

        <!-- Addresses -->
        <!-- Can't have a form inside of a form :( -->
        <map-address-input container="$parentElem" name='addressInput' title="Address" target="addr"
                           map="mapContainer"></map-address-input>
        <map-address-input container="$parentElem" name='hqAddressInput' title="HQ Address" target="hqAddr"
                           map="mapContainer"></map-address-input>

        <paper-button type="submit" ng-click="submitAddForm();">Update</paper-button>
        <!-- Put the delete button down here -->
    </section>

</paper-material>

<paper-toast id="failureToast" text="Failed to add the location!"></paper-toast>
<paper-toast id="successToast" text="Added location to the database!"></paper-toast>