<!-- The add form template for locations -->

<style>
    .locationEdit {
        background: white;
        width: 100%;
        height: 100%;
    }
    .locationEdit form {
        padding: 8px;
    }
    .locationEdit .checkboxes {
        margin-left: 8px;
        margin-top: 8px;
    }
    .locationEdit paper-button {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .locationEdit #formCont {
        height: 802px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .locationEdit .deleteButton {
        right: 0;
    }
    .locationEdit #deleteDialog {
        padding: 8px;
    }

    /* Scrollbar */
    .locationEdit ::-webkit-scrollbar {
        width: 5px;
    }
    .locationEdit ::-webkit-scrollbar-thumb {
        background: rgba(96, 125, 139,0.7);
        border-radius: 25px;
        box-shadow: inset 0 1px 1px 1px rgba(38, 50, 56, 0.1);
    }
    .locationEdit ::-webkit-scrollbar-thumb:hover {
        background: rgba(96, 125, 139,0.9);
    }
    .locationEdit ::-webkit-scrollbar-thumb:active {
        background: rgba(38, 50, 56,0.9);
    }
    .locationEdit ::-webkit-scrollbar-track {
        background: rgba(176, 190, 197,0.5);
        border-radius: 25px;
    }
    .locationEdit ::-webkit-scrollbar-track:hover {
        background: rgba(176, 190, 197,0.9);
    }

    .failureToast {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
    }
</style>

<paper-material class="locationEdit" ng-show="!locEditCtrl.isHidden">
    <paper-toolbar class="small">
        <h1 class="title">Edit</h1>
        <paper-icon-button icon="close" title="Close" ng-click="onClose();"></paper-icon-button>
    </paper-toolbar>

    <section id="formCont">
        <form id="editForm" is="iron-form" ng-keypress="keyPressed($event)">
            <!-- Basics -->
            <paper-input name="name" label="Resource name" value="{{location.name}}"
                         error-message="Need a name!"
                         required auto-validate autocapitalize></paper-input>
            <paper-input name="email" label="Email" type="email"
                         value="{{location.email}}"
                         error-message="Please enter a valid email."
                         auto-validate></paper-input>
            <gold-phone-input name="phone" label="Phone Number (XXX-XXX-XXXX)"
                              value="{{location.getPhone()}}"
                              phone-number-pattern="XXX-XXX-XXXX" auto-validate></gold-phone-input>
            <paper-input name="website" label="Website"
                         value="{{location.website}}"
                         required="">
            </paper-input>

            <!-- Deeper info -->
            <paper-input name="locationType" label="Resource Type"
                         value="{{location.locationType}}"
                         required></paper-input>
            <paper-input name="services" label="Services (separated by commas)"
                         value="{{location.getFormattedServices()}}"
                         required></paper-input>
            <paper-input name="tags"
                         value="{{location.getFormattedTags()}}"
                         label="#tags (separated by commas)"></paper-input>

            <p class="checkboxes">Coverage</p>
            <section class="checkboxes">
                <paper-checkbox name="coverages" value="Local" noink>Local</paper-checkbox>
                <paper-checkbox name="coverages" value="State" noink>State</paper-checkbox>
                <paper-checkbox name="coverages" value="Regional" noink>Regional</paper-checkbox>
                <paper-checkbox name="coverages" value="National" noink>National</paper-checkbox>
                <paper-checkbox name="coverages" value="International" noink>International</paper-checkbox>
            </section>

            <!-- Extras -->
            <paper-textarea name="comments" label="Comments" maxlength="500"
                            value="{{location.comments}}"
                            auto-validate char-counter prevent-invalid-input></paper-textarea>
            <paper-input name="editBy" label="Your name" error-message="Need to provide your name!"
                         required auto-validate></paper-input>
        </form>

        <!-- Addresses -->
        <!-- Can't have a form inside of a form :( -->
        <map-address-input container="$parentElem" name='addressInput' title="Address" target="addr"
                           map="mapContainer" i-formatted-address="location.getFormattedAddr()"
                           <!--ng-click="locEditCtrl.setIsHidden(true);"-->
                           on-close="locEditCtrl.setIsHidden(false)"></map-address-input>
        <map-address-input container="$parentElem" name='hqAddressInput' title="HQ Address" target="hqAddr"
                           map="mapContainer" i-formatted-address="location.getFormattedHqAddr()"
                            <!--ng-click="locEditCtrl.setIsHidden(true);"-->
                            on-close="locEditCtrl.setIsHidden(false)"></map-address-input>

        <paper-button type="submit" ng-click="submitEditForm();">Save</paper-button>
        <!-- Put the delete button down here and on the right -->
        <!-- Todo: Add a double check measure! -->
        <paper-icon-button class="deleteButton" icon="delete" ng-click="deleteLocation(false);"></paper-icon-button>

        <paper-dialog id="deleteDialog">
            <p>Are you sure you want to delete {{location.name}}?</p>
            <div class="buttons">
                <paper-button dialog-dismiss>No..</paper-button>
                <paper-button dialog-confirm autofocus ng-click="deleteLocation(true)">Delete</paper-button>
            </div>
        </paper-dialog>

    </section>
</paper-material>

<paper-toast class="failureToast" text="Failed to add the location!"></paper-toast>
<paper-toast class="successToast" text="Added location to the database!"></paper-toast>