<!-- The add form template for locations -->
<link rel="import" href="../../bower_components/iron-form/iron-form.html"/>
<link rel="import" href="../../bower_components/paper-input/paper-input.html"/>
<link rel="import" href="../../bower_components/paper-button/paper-button.html"/>
<link rel="import" href="../../bower_components/paper-material/paper-material.html"/>
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html"/>
<link rel="import" href="../../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="../../bower_components/gold-phone-input/gold-phone-input.html"/>

<style is="location-add-style">
    .locationAdd {
        background: white;
        width: 100%;
        height: 100%;
    }
    .locationAdd form {
        padding: 8px;
    }
    .locationAdd .checkboxes {
        margin-left: 8px;
        margin-top: 8px;
    }
</style>

<paper-material class="locationAdd">
    <paper-toolbar class="small">
        <h1 class="title">Add a location</h1>
        <paper-icon-button icon="close" title="Close" ng-click="listCtrl.setIsAdding(false);"></paper-icon-button>
    </paper-toolbar>

    <form class="addRatingForm" is="iron-form" name="ratingForm" method="post">
        <!-- Basics -->
        <paper-input name="name" label="Name" error-message="Need a name!"
                     required auto-validate></paper-input>
        <gold-phone-input name="phone" label="Phone Number (X-XXX-XXX-XXXX)"
                          phone-nuber-pattern="X-XXX-XXX-XXXX" auto-validate></gold-phone-input>
        <paper-input name="website" label="Website">
            <div prefix>http://</div>
        </paper-input>

        <!-- Addresses -->
        <paper-input name="address" label="Address" required></paper-input>
        <paper-input name="hqAddress" label="HQ Address"></paper-input>

        <!-- Deeper info -->
        <paper-input name="locationType" label="Location Type" required></paper-input>

        <p class="checkboxes">Coverage</p>
        <section class="checkboxes">
            <paper-checkbox name="coverage[]" noink>Local</paper-checkbox>
            <paper-checkbox name="coverage[]" noink>State</paper-checkbox>
            <paper-checkbox name="coverage[]" noink>Regional</paper-checkbox>
            <paper-checkbox name="coverage[]" noink>National</paper-checkbox>
            <paper-checkbox name="coverage[]" noink>International</paper-checkbox>
        </section>

        <paper-input name="services" label="Services (separated by commas)" required></paper-input>
        <paper-input name="tags" label="Tags (separated by commas)"></paper-input>

        <!-- Extras -->
        <paper-input name="comments" label="Comments"
                     auto-validate></paper-input>
        <paper-input name="addedBy" label="User" error-message="Need to provide your name!"
                     required auto-validate></paper-input>

        <paper-button type="submit" ng-click="">Add to database</paper-button>
    </form>
</paper-material>
