<!-- The add form template for locations -->
<style>
    .locationAdd {
        background: white;
        width: 100%;
        height: 100%;
    }
    .locationAdd form {
        padding-left: 8px;
        padding-right: 8px;
    }
    .locationAdd .checkboxes {
        margin-left: 8px;
        margin-top: 8px;
    }
    .locationAdd md-button {
        margin-top: 4px;
        margin-bottom: 4px;
    }

	/* Scrollbar */
    ::-webkit-scrollbar {
	    width: 5px;
    }
    ::-webkit-scrollbar-thumb {
	    background: rgba(96, 125, 139,0.7);
	    border-radius: 25px;
	    box-shadow: inset 0 1px 1px 1px rgba(38, 50, 56, 0.1);
    }
    ::-webkit-scrollbar-thumb:hover {
	    background: rgba(96, 125, 139,0.9);
    }
    ::-webkit-scrollbar-thumb:active {
	    background: rgba(38, 50, 56,0.9);
    }
    ::-webkit-scrollbar-track {
	    background: rgba(176, 190, 197,0.5);
	    border-radius: 25px;
    }
    ::-webkit-scrollbar-track:hover {
	    background: rgba(176, 190, 197,0.9);
    }
    #addForm {
	    height: 802px;
	    overflow-y: auto;
	    overflow-x: hidden;
    }
</style>

<section class="locationAdd" md-whiteframe="3">
    <md-toolbar class="small">
		<div class="md-toolbar-tools">
			<h1>Add a location</h1>
			<span flex></span>
			<md-button class="md-icon-button"
					   aria-label="Close"
					   ui-sref="listView">
				<md-icon md-svg-src="/_assets/icons/48/ic_close_white.svg"></md-icon>
			</md-button>
		</div>
    </md-toolbar>
	<form id="addForm" name="addForm" ng-submit=""
		  ng-keypress="keyPressed($event)"
		  layout="column">
		<!-- Basics -->
		<md-input-container>
			<label for="name">Resource name</label>
			<input id="name" name="name" type="text" ng-model="location.name"
				   required
				   md-autofocus>
			<div ng-messages="addForm.name.$error">
				<div ng-message="required">Need a name!</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label for="email">Email</label>
			<input id="email" name="email" type="email" ng-model="location.email">
			<div ng-messages="addForm.email.$error">
				<div ng-message="email">Please enter a valid email.</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label for="phone">Phone Number <br>(XXX-XXX-XXXX)</label>
			<!-- Todo: change to ngPattern -->
			<input id="phone" name="phone" type="tel" ng-model="location.phone"
				   pattern="/^(?:\(\d{3}\)|\d{3}-)\d{3}-\d{4}$/">
			<div ng-messages="addForm.phone.$error">
				<div ng-message="tel">Please enter a valid phone number.</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label for="website">Website</label>
			<input id="website" name="website" type="url" required ng-model="location.website">
			<div ng-messages="addForm.website.$error">
				<div ng-message="required">Need a webiste!</div>
				<div ng-message="url">Please enter a valid website.</div>
			</div>
		</md-input-container>

		<!-- Deeper info -->
		<md-input-container>
			<label for="locationType">Resource Type</label>
			<input id="locationType" type="text" required ng-model="location.locationType">
			<div ng-messages="addForm.locationType.$error">
				<div ng-message="required">Need a resource type!</div>
			</div>
		</md-input-container>

		<!-- Todo: add tagging input -->
		<md-input-container>
			<label for="services">Services</label>
			<input id="services" type="text" ng-model="location.services" required>
			<div ng-messages="addForm.services.$error">
				<div ng-message="required">Resources need services!</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label for="tags">#tags</label>
			<input id="tags" type="text" ng-model="location.tags">
			<!--<div ng-messages="addForm.tags.$error">
				<div ng-message="required">Resources need tags!</div>
			</div>-->
		</md-input-container>

		<p class="checkboxes">Coverage</p>
		<section class="checkboxes">
			<md-checkbox name="coverages" aria-label="Local" md-no-ink>Local</md-checkbox>
			<md-checkbox name="coverages" aria-label="State" md-no-ink>State</md-checkbox>
			<md-checkbox name="coverages" aria-label="Regional" md-no-ink>Regional</md-checkbox>
			<md-checkbox name="coverages" aria-label="National" md-no-ink>National</md-checkbox>
			<md-checkbox name="coverages" aria-label="International" md-no-ink>International</md-checkbox>
		</section>

		<!-- Extras -->
		<md-input-container>
			<label for="comments">Comments</label>
			<textarea id="comments" md-maxlength="500" ng-model="location.comments"></textarea>
			<div ng-messages="addForm.comments.$error">
				<div ng-message="md-maxlength">Too long!</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label for="addedBy">Your name</label>
			<input id="addedBy" type="text" ng-model="location.addedBy" required>
			<div ng-messages="addForm.addedBy.$error">
				<div ng-message="required">Need to provide your name!</div>
			</div>
		</md-input-container>

		<!-- Addresses -->
		<!-- Can't have a form inside of a form :( -->
		<map-address-input  name='addressInput' title="Address" target="addr"
							map="mapContainer"></map-address-input>
		<map-address-input  name='hqAddressInput' title="HQ Address"
						   target="hqAddr" map="mapContainer"></map-address-input>

		<div class="buttonContainer" layout="row">
			<md-button type="submit" ng-click="submitAddForm()">Add to database</md-button>
			<md-button type="reset" ng-click="resetForm();">Reset</md-button>
		</div>
	</form>
</section>
<!--<paper-toast class="failureToast" text="Failed to add the location!"></paper-toast>-->
<!--<paper-toast class="successToast" text="Added location to the database!"></paper-toast>-->