<!--
    A template for each location
<link rel="stylesheet" href="/_assets/css/bootstrap.min.css"/>
-->


<style>
    location-card md-toolbar {
        text-align: left;
    }

    location-card h1 {
        text-align: left;
    }

    location-card .contentContainer {
        height: auto;
        padding: 8px;
    }
</style>

<md-card layout="column" layout-fill>
    <md-toolbar class="md-medium-tall">
        <div class="md-toolbar-tools">
            <h1 class="md-title">{{location.name}}</h1>
            <!-- Fill the space between left and right sections-->
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Locate" ng-show="location.hasAddr();"
                       ng-click="listPageCtrl.zoomToLocation(location.getAddrLatLng());">
                <md-icon md-svg-src="/_assets/icons/48/ic_my_location_white.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Expand" ng-click="cardCtrl.toggleContent();">
                <md-icon md-svg-src="/_assets/icons/48/ic_expand_more_white.svg"></md-icon>
            </md-button>
        </div>
        <!-- Show a brief description if the card is not expanded -->
        <p class="bottom md-subhead" ng-show="!cardCtrl.isExpanded">{{location.locationType + ": " + location.getFormattedServices();}}</p>
        <!-- Only show the tabs if the card has been expanded -->
        <md-tabs md-selected="0" class="bottom self-end" ng-show="cardCtrl.isExpanded">
            <md-tab label="Info" ng-click="cardCtrl.setTab(0)"></md-tab>
            <md-tab label="Contact" ng-click="cardCtrl.setTab(1)"></md-tab>
            <md-tab label="Ratings" ng-click="cardCtrl.setTab(2)"></md-tab>
        </md-tabs>
    </md-toolbar>
    <md-content ng-show="cardCtrl.isExpanded">
        <location-info class="contentContainer" ng-show="cardCtrl.tabIsShowing(0)"></location-info>
        <location-contact class="contentContainer" ng-show="cardCtrl.tabIsShowing(1)"></location-contact>
        <location-rating class="contentContainer" ng-show="cardCtrl.tabIsShowing(2)"></location-rating>
    </md-content>
</md-card><br/>