<!--
    A template for each location

-->

<link rel="import" href="../../bower_components/paper-card/paper-card.html"/>
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html"/>
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html"/>
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html"/>

<link rel="stylesheet" href="../../_assets/css/bootstrap.min.css"/>

<style is="location-card-style">
    .locationCard paper-card {
        width: 30%;
    }

    .locationCard paper-toolbar {
        --paper-toolbar-background: var(--paper-red-900);
        text-align: left;
    }

    .locationCard h1 {
        text-align: left;
    }

    .locationCard paper-tabs {
        width: 300px;
    }

    .locationCard paper-icon-button {
        color: white;
    }

    .locationCard .self-end {
        /* This mixin (from iron-flex-layout) aligns the tabs to the
           bottom of the toolbar. */
        @apply(--layout-self-end);
    }

    .locationCard .cardItemContainer {
        padding: 8px;
    }
</style>

<paper-card class="locationCard">
    <paper-toolbar class="medium-tall">
        <h1 class="title">{{location.name}}</h1>
        <paper-icon-button icon="maps:my-location" title="Locate" ng-click="listCtrl.zoomToLocation(location.getAddrLatLng());"></paper-icon-button>

        <paper-tabs selected="0" class="bottom self-end">
            <paper-tab ng-click="cardController.setTab(0)">Info</paper-tab>
            <paper-tab ng-click="cardController.setTab(1)">Contact</paper-tab>
            <paper-tab ng-click="cardController.setTab(2)">Ratings</paper-tab>
        </paper-tabs>
    </paper-toolbar>

    <location-info ng-show="cardController.isShowing(0)"></location-info>
    <location-contact ng-show="cardController.isShowing(1)"></location-contact>
    <location-rating ng-show="cardController.isShowing(2)"></location-rating>
</paper-card><br/>