<!-- The add form template for locations -->
<link rel="import" href="/bower_components/iron-form/iron-form.html"/>
<link rel="import" href="/bower_components/paper-input/paper-input.html"/>
<link rel="import" href="/bower_components/paper-button/paper-button.html"/>
<link rel="import" href="/bower_components/paper-material/paper-material.html"/>
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html"/>
<link rel="import" href="/bower_components/paper-item/paper-item.html"/>
<link rel="import" href="/bower_components/paper-toast/paper-toast.html"/>
<link rel="import" href="/bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="/bower_components/gold-phone-input/gold-phone-input.html"/>

<style is="custom-style">
    .locationAdd {
        background: white;
        width: 100%;
        height: 100%;
    }
    .locationAdd form {
        padding: 8px;
    }
    .locationAdd .checkboxes {
        margin-left: 8px;
        margin-top: 8px;
    }
    .locationAdd paper-button {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    #failureToast {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
    }
</style>

<paper-material class="locationAdd">
    <paper-toolbar class="small">
        <h1 class="title">Add a location</h1>
        <paper-icon-button icon="close" title="Close" ng-click="listPageCtrl.setIsAdding(false);"></paper-icon-button>
    </paper-toolbar>

    <form id="addForm" is="iron-form" ng-keypress="keyPressed($event)">
        <!-- Basics -->
        <paper-input name="name" label="Name" error-message="Need a name!"
                     required auto-validate></paper-input>
        <paper-input name="email" label="Email" type="email" error-message="Please enter a valid email."
                     auto-validate></paper-input>
        <gold-phone-input name="phone" label="Phone Number (XXX-XXX-XXXX)"
                          phone-number-pattern="XXX-XXX-XXXX" auto-validate></gold-phone-input>
        <paper-input name="website" label="Website">
            <div prefix>http://</div>
        </paper-input>

        <!--<paper-input name="address" label="Address" required></paper-input>
        <paper-input name="hqAddress" label="HQ Address"></paper-input>-->

        <!-- Deeper info -->
        <paper-input name="locationType" label="Location Type" required></paper-input>

        <p class="checkboxes">Coverage</p>
        <section class="checkboxes">
            <paper-checkbox name="coverages" value="Local" noink>Local</paper-checkbox>
            <paper-checkbox name="coverages" value="State" noink>State</paper-checkbox>
            <paper-checkbox name="coverages" value="Regional" noink>Regional</paper-checkbox>
            <paper-checkbox name="coverages" value="National" noink>National</paper-checkbox>
            <paper-checkbox name="coverages" value="International" noink>International</paper-checkbox>
        </section>

        <paper-input name="services" label="Services (separated by commas)" required></paper-input>
        <paper-input name="tags" label="Tags (separated by commas)"></paper-input>

        <!-- Extras -->
        <paper-input name="comments" label="Comments"
                     auto-validate></paper-input>
        <paper-input name="addedBy" label="Your name" error-message="Need to provide your name!"
                     required auto-validate></paper-input>
    </form>

    <!-- Addresses -->
    <map-address-input container="$parentElem" name='addressInput' title="Address" target="addr" map="mapContainer"
                       required="true"></map-address-input>
    <map-address-input container="$parentElem" name='hqAddressInput' title="HQ Address" target="hqAddr" map="mapContainer"></map-address-input>

    <paper-button type="submit" ng-click="submitAddForm();">Add to database</paper-button>

</paper-material>

<paper-toast id="failureToast" class="fit-bottom" text="Failed to add the location!"></paper-toast>
<paper-toast id="successToast" text="Added location to the database!"></paper-toast>