<link rel="import" href="/bower_components/iron-form/iron-form.html"/>
<link rel="import" href="/bower_components/paper-input/paper-input.html"/>
<link rel="import" href="/bower_components/paper-button/paper-button.html"/>

<style is="rating-style">
    .cardItemContainer h1 {
        font-size: large;
    }
    .cardItemContainer .addRatingForm {
        height: auto;
    }
    .cardItemContainer .addRatingForm paper-input {
        margin: 2px;
    }

</style>

<article class="cardItemContainer">
    <h1>Average rating: {{averageRating(location.ratings)}}</h1>
    <article ng-repeat="rating in location.ratings track by $index">
        <blockquote> Stars: {{rating.value}} </blockquote>
        <p> - {{rating.user}} </p>
        <p> {{rating.comment !== 'Comment' ? rating.comment : ''}}</p>
    </article>

    <form id="{{location.id + '_ratingForm'}}" class="addRatingForm"
          is="iron-form" ng-keypress="keyPressed($event)">
        <paper-input name="value" label="Rating" error-message="Need to provide a rating 1-5!" type="number" min="1" max="5"
                     placeholder="1-5" required auto-validate prevent-invalid-input></paper-input>
        <paper-input name="user" label="User" error-message="Need to provide your name!"
                     required auto-validate></paper-input>
        <paper-input name="comment" label="Comment" maxlength="500" error-message="500 characters or less please!"
                     auto-validate></paper-input>
        <paper-button type="submit" ng-click="submitRatingForm();">Rate!</paper-button>
    </form>
</article>