header h1#small {
	display: none;
}

#tableBottomSpacer {
	display: none;
	height: 10px;
}

@media screen and (max-width: 1300px) {
	#clocks {
		position: static;
		top: initial;
		bottom: 0;
		margin: 0 auto;
		padding: 0;
	}
	#tableBottomSpacer {
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.smallCircle {
		width: 140px;
		padding-bottom: 140px;
	}
	.largeCircle {
		width: 380px;
		padding-bottom: 380px;
	}
	.circle a {
		font-size: 10pt;
	}
	.circle a img {
		height: 30px;
		width: 30px;
	}
	.largeCircle a {
		font-size: 20pt;
	}
	.largeCircle a img {
		height: 80px;
		width: 80px;
	}
	header h1 {
		display: none;
	}
	header h1#small {
		display: inline;
	}
}