/*Vets4Warriors main CSS stylesheet*/
/*Author: jmcgirr*/

html {
    background: #d9cebf;
    font-family: "Trebuchet MS", Helvetica, Arial, SansSerif;
    color: #000;
}

body {
    width: 100%;
}

header {
    width:100%;
    background-color: #B7A287;
    margin-top: 50px;
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,.7);
    height: 100px;
}

header img {
    margin-left: 40px;
    display: inline;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    padding-left: 40px;
    display: inline;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24pt;

}

/*Classes*/

.clearBoth {
    clear: both;
}

.homeBtn:hover {
    opacity:0.7;
}

.smallCircle {
    width: 200px;
    padding-bottom: 200px;
}

.largeCircle {
    width: 500px;
    padding-bottom: 500px;
}

.circle {
    height: 0;
    border-radius: 50%;
    overflow: hidden;
    background: #B7A287;
    box-shadow: 1px 3px 6px 3px rgba(0,0,0,.7);
}

.circle:hover{
    background: #bca98f;
    box-shadow: 1px 3px 8px 5px rgba(0,0,0,.8);
}

.circle a {
    display: block;
    float: left;
    width:100%;
    padding-top: 40%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 16pt;
}

.largeCircle a {
    font-size: 30pt;
}

/*IDs*/

div#main {
    display: flex;
    flex-direction: row;
    height: 580px;
    margin: 0 auto;
    margin-top: 50px;
}

div#left {
    margin-left:50px;
    display: flex;
    flex-direction:column;
    padding:30px;
    width:520px;
}

div#right {
    display: flex;
    flex-direction:column;
    padding: 30px;
    width: 220px;
}

#formMain {
    margin:50px;
}

#clocks {
    background: #B7A287;
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 100px;
    right: 0;
    box-shadow: 1px 3px 6px 3px rgba(0,0,0,.7);
}

#clocks table {
    border: none;
    text-align: center;
}

#clocks table td, #clocks table th {
    vertical-align: middle;
    padding:5px;
}

#clocks table #h {
    font-weight: bold;
}