<article class="cardItemContainer md-body-1">
    <div ng-if="location.getPhone()">
        <p><b>Phone:</b>
            <br>
            <a href="tel:{{location.getPhone()}}">{{location.getPhone()}}</a>
        </p>
    </div>
    <div ng-if="location.email">
        <p><a href="mailto:{{location.email}}">{{location.email}}</a></p>
    </div>
    <div ng-if="location.website">
        <p><a href="{{location.website}}" target="_blank">{{location.website}}</a></p>
    </div>
    <div ng-if="location.address">
        <p>Address:</p>
        <p>{{location.getFormattedAddr() }}</p>
    </div>
    <div ng-if="location.hqAddress">
        <p>HQ Address:</p>
        <p>{{location.getFormattedHqAddr() }}</p>
    </div>
</article>