<style is="custom-style">
    .locationList {
        position: absolute;
        left: 2%;
        top: 24px;
        width: calc(350px + 15%);
        overflow: hidden;
    }
    .locationList #list {
        margin-top: 16px;
        padding-right:10px;
        float: right;
        height:800px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .locationList .listContainer {
        max-height: 100%;
        box-sizing: border-box;
    }
    .locationList .listContainer > * {
        display: block;
    }

    .locationList .locationCard {
        width: 350px;
        margin-bottom: 16px;
    }

    #search {
        width: 100%;
        margin-bottom: 16px;
    }
    #search .locationFilter {
        margin-top: 16px;
        width: calc(100% - 350px - 16px);
        height: auto;
        background: white;
        float: left;
    }
</style>


<section class="locationList" ng-controller="LocationsController as locCtrl">
    <!-- Search box -->
    <location-search-box id="search" ng-focus></location-search-box>
    <!-- Results -->
    <article class="listContainer" id="list" >
        <location-card ng-repeat="location in locations track by location.id"></location-card>
        <!--
        Todo:
        Search will not work because the location-card loads scripts and modifies the dom.
        Must build the polymer components
        OR just switch over to Polymer as a component toolset and angular just for routing and such
        -->
        <!--<p ng-repeat="location in locations track by location.id">Test</p>-->
        <!-- Won't center :( -->
        <paper-toast id="connectionErrorToast" duration="0">
            <paper-button onclick="connectionErrorToast.close()" class="yellow-button">Yes!</paper-button>
        </paper-toast>
    </article>
</section>